html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}
img {
	max-width: 100%;
}
*,*:before,*:after {
	box-sizing: inherit;
}
.container {

	margin: 30px;
}
.container > * {
	border: 2px solid green;
	background-color: #ffec99;
	padding: 10px;
}

/* Mobile styles */
.container {
	display: grid;
	grid-gap: 1em;
	grid-template-areas:"header" "content" "related" "ads" "footer";
}
.main-header {
	grid-area: header;
}
.main-content {
	grid-area: content;
}
.related-links {
	grid-area: related;
}
.ads {
	grid-area: ads;
}
.main-footer {
	grid-area: footer;
}

/* Tablet styles */
@media (min-width: 500px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
		"header header header"
		"content content related"
		"content content ads"
		"footer footer footer";
	}
}

/* Destop display */
@media (min-width: 800px) {
	.container {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
		"header header header header"
		"related content content ads"
		"related content content ads"
		"footer footer footer footer";
	}
}