/* Import sidebar partial */
@import "sidebar";

/* Variables */
$primary-color: #66c354;
$full-width: 100%;
$inner-width: 90%;
$branding-color: white;
$footer-color: $branding-color;
$standard-font-size: 1rem;

/* Extend / Inheritance */
%middle-centered {
  margin: 0 auto;
  width: $inner-width;
}

/* Mixin example */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin right-align {
  padding: 20px;
  text-align: right;
}

a {
  color: darken($primary-color,20%);
  font-weight: bold;
}

body {
  font-size: $standard-font-size;
  margin: 0;
  width: $full-width;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  clear: both;
  width: $full-width;
  text-align: center;
  color: $footer-color;
  background-color: #333;

  div {
    @extend %middle-centered;
  }
}

h1 {
  font-size: $standard-font-size * 3;
  margin-top: 0
}

nav {
  background-color: #333;
  width: $full-width;

  .main-menu {
    @extend %middle-centered;
    @include right-align();
  }

  li {
    display: inline;
  }
}

ul {
  list-style: none;
}

#branding {
  background-color: $primary-color;
  padding: 20px 0;
  width: $full-width;

  .content {
    color: $branding-color;
    @extend %middle-centered;
  }
}

#main {
  display: block;
  float: left;
  width: 75%;
}

#wrapper {
  @extend %middle-centered;
}

.block {
  @include border-radius(6px);
  border-color: $primary-color;
  border-style: solid;
  border-width: 1px;
  padding: 6px;
}

.side-menu {
  li {
    text-align: right;
  }

  ul {
    padding: 6px;
  }
}