{%  extends 'layout.twig' %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/uhost/css/customers.css">
{% endblock %}

{# packages title #}
{% block title %}Customers{% endblock title %}

{# customers content #}
{% block content %}
  <div>
    <div class="testimonial" id="customer-1">
      <div class="testimonial__image-container">
        <img src="../images/customer-1.jpg" alt="Mike Statham - Customer"
             class="testimonial__image">
      </div>
      <div class="testimonial__info">
        <h1 class="testimonial__name">Mike Statham</h1>
        <h2 class="testimonial__subtitle">Founder of
          <a href="tech-analysis.com">tech-analysis.com</a>
        </h2>
        <p class="testimonial__text">uHost helped me realize my project with a
          highly constrained budget in like no time.</p>
      </div>
    </div>
    <div class="testimonial" id="customer-2">

      <div class="testimonial__info">
        <h1 class="testimonial__name">John Mellow</h1>
        <h2 class="testimonial__subtitle">Hosts his private videos on uHost.
        </h2>
        <p class="testimonial__text">I worked as a blogger and always looked for
          an integrated hosting and file storage solution. I found
          it in uHost!
        </p>
      </div>
      <div class="testimonial__image-container">
        <img src="../images/customer-2.jpg" alt="John Mellow - Customer"
             class="testimonial__image">
      </div>
    </div>
  </div>
{% endblock content %}
