<!DOCTYPE html>
<html lang="en" id="top">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {%- if block('title') is defined -%}
        uHost | {{ block('title') -}}
      {%- else -%}
        uHost - Get the freedom you deserve
      {%- endif -%}
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="/uhost/images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/uhost/css/shared.css">
  {% endblock head %}
</head>
<body>
  {% block modal %} {% endblock modal %}
  {% block background %} {% endblock background %}
  <header class="main-header">
    <div>
      <button class="toggle-button">
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
      </button>
      <a href="/uhost/index.php" class="main-header__brand">
        <img src="/uhost/images/uhost-icon.png" alt="uHost - Your favorite hosting company">
      </a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a href="/uhost/index.php">Home</a>
        </li>
        <li class="main-nav__item">
          <a href="/uhost/index.php/packages">Packages</a>
        </li>
        <li class="main-nav__item">
          <a href="/uhost/index.php/customers">Customers</a>
        </li>
        <li class="main-nav__item main-nav__item--cta">
          <a href="/uhost/index.php/start-hosting">Start Hosting</a>
        </li>
      </ul>
    </nav>
  </header>

  <nav class="mobile-nav">
    <div class="mobile-nav__close-button">X</div>
    <ul class="mobile-nav__items">
      <li class="mobile-nav__item">
        <a href="/uhost/index.php/">Home</a>
      </li>
      <li class="mobile-nav__item">
        <a href="/uhost/index.php/packages">Packages</a>
      </li>
      <li class="mobile-nav__item">
        <a href="/uhost/index.php/customers">Customers</a>
      </li>
      <li class="mobile-nav__item mobile-nav__item--cta">
        <a href="/uhost/index.php/start-hosting">Start Hosting</a>
      </li>
    </ul>
  </nav>

  <main>
    {% block content %} {% endblock content %}
  </main>

  <footer class="main-footer">
    {% block footer %}
      <nav class="main-footer__nav">
        <ul class="main-footer__links">
          <li class="main-footer__link">
            <a href="#">Support</a>
          </li>
          <li class="main-footer__link">
            <a href="#">Terms of Use</a>
          </li>
          <li class="main-footer__link">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <div class="main-footer__link--scroll-to-top">
          <a href="#top">
            <span class="fas fa-angle-double-up"></span>
          </a>
        </div>
      </nav>
    {% endblock footer %}
  </footer>

  {% block js %}
    <script src="/uhost/js/shared.js"></script>
  {% endblock js %}

</body>
</html>