{%  extends 'layout.twig' %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/uhost/css/start-hosting.css">
{% endblock %}

{# start-hosting page title #}
{% block title %}Hosting{% endblock title %}

{# start-hosting content #}
{% block content %}
  <div class="signup-page">
    <h1 class="signup-title">Awesome! Let's dive right in!</h1>
    <form action="/uhost/index.php/start-hosting" class="signup-form">
      <label for="title">Title</label>
      <select id="title">
        <option value="mr">Mr.</option>
        <option value="ms">Ms.</option>
      </select>
      <label for="first-name">First name *</label>
      <input type="text" id="first-name" required>
      <label for="last-name">Last name *</label>
      <input type="text" id="last-name" required>
      <label for="email">E-Mail *</label>
      <input type="email" id="email" required>
      <label for="password">Password *</label>
      <input type="password" id="password" required>
      <div class="signup-form__checkbox">
        <input type="checkbox" id="agree-terms" required>
        <label for="agree-terms" class="signup-form__terms">Agree to
          <a href="#">Terms &amp; Conditions</a>
        </label>
      </div>
      <button type="submit" class="button">Sign Up</button>
    </form>
  </div>

{% endblock content %}
