{%  extends 'layout.twig' %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/uhost/css/start-hosting-alternate.css">
{% endblock %}

{# start-hosting page title #}
{% block title %}Hosting{% endblock title %}

{# start-hosting content #}
{% block content %}
  <div class="signup-page">
    <h1 class="signup-title">Awesome! Let's dive right in!</h1>
    <form action="/uhost/index.php/start-hosting" class="signup-form">
      <div class="signup-form__title">
        <label for="title">Title</label>
        <select id="title">
          <option value="mr">Mr.</option>
          <option value="ms">Ms.</option>
        </select>
      </div>
      <p class="signup-form__name-title">Name *</p>
      <div class="signup-form__name-wrapper">
        <div class="signup-form__name">
          <input type="text" id="first-name">
          <label for="first-name">First Name</label>
        </div>
        <div class="signup-form__name">
          <input type="text" id="last-name">
          <label for="last-name">Last Name</label>
        </div>
      </div>
      <div class="signup-form__email-wrapper">
        <label for="email">Email Address *</label>
        <input type="email" id="email">
      </div>
     <div class="signup-form__passwd-wrapper">
       <label for="password">Password *</label>
       <input type="password" id="password">
     </div>
     <div class="signup-form__terms-wrapper">
       <input type="checkbox" id="agree-terms">
       <label for="agree-terms">Agree to
         <a href="#">Terms &amp; Conditions</a>
       </label>
     </div>
      <div class="signup-form__button-wrapper">
        <button type="submit" class="button">Sign Up</button>
      </div>
    </form>
  </div>
{% endblock content %}
