body {
    background-color: lightgray;
}

.centered {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

.cards {
    display: block;
}

.cards > .card:nth-child(1) {

}

.cards > .card:nth-child(2) {

}

.cards > .card:nth-child(3) {

}

.cards > .card:nth-child(4) {

}

.card {
    background-color: white;
    color: black;

}

.card p {
    padding: 0 2em 1em;
}

.image-container {
    width: 220px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
}

/* tablet style */
@media (min-width: 768px) {
    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }

    .image-container {

    }

}

/* desktop style */
@media (min-width: 800px) {
    .card {
        flex: 0 1 calc(25% - 1em);
    }
}