html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}
img {
	max-width: 100%;
}
*,*:before,*:after {
	box-sizing: inherit;
}
.container {
	border: 1px solid #000;
	margin: 30px;
}
.container > * {
	border: 2px solid green;
	background-color: #ffec99;
	padding: 10px;
}

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
			"apple orange"
			"banana banana"
			"plum mango";
}
.item3 {
	/* Place item3 in mango grid cell */
	grid-area: mango;
}
.item11 {
	grid-area: apple;
}
.item8 {
	/* This occupies two cells */
	grid-area: banana;
}
