* {
  box-sizing: border-box;
}

.container {
  display: grid;
  margin: 1.25rem;
  grid-template-columns: auto;
  grid-template-rows: [row-1] 5rem [row-2] minmax(10px,200px) [row-3] 100px;
  height: 500px;
  column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: "header header header header"
                       "side-1 main main main"
                       "footer footer footer footer";
}

.el1 {
  background-color: orange;
  grid-area: header;
}

.el2 {
  background-color: lightcoral;
  grid-area: side-1;
}
.el3 {
  background-color: lightgreen;
/*  grid-column: 3 / 5;
  grid-row: row-1 / span 1;*/
  grid-area: main;
}

.el4 {
  background-color: lightsteelblue;
  grid-area: footer;
}

