/* Import sidebar partial */
#sidebar {
  display: block;
  float: left;
  margin-top: 20px;
  width: 25%;
}

/* Variables */
/* Extend / Inheritance */
#wrapper, #branding .content, nav .main-menu, footer div {
  margin: 0 auto;
  width: 90%;
}

/* Mixin example */
a {
  color: #3c832e;
  font-weight: bold;
}

body {
  font-size: 1rem;
  margin: 0;
  width: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  clear: both;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #333;
}
h1 {
  font-size: 3rem;
  margin-top: 0;
}

nav {
  background-color: #333;
  width: 100%;
}
nav .main-menu {
  padding: 20px;
  text-align: right;
}
nav li {
  display: inline;
}

ul {
  list-style: none;
}

#branding {
  background-color: #66c354;
  padding: 20px 0;
  width: 100%;
}
#branding .content {
  color: white;
}

#main {
  display: block;
  float: left;
  width: 75%;
}

.block {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  border-color: #66c354;
  border-style: solid;
  border-width: 1px;
  padding: 6px;
}

.side-menu li {
  text-align: right;
}
.side-menu ul {
  padding: 6px;
}

/*# sourceMappingURL=style.css.map */
