html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}
img {
	max-width: 100%;
}
*,*:before,*:after {
	box-sizing: inherit;
}
.container {
	margin: 30px;
}
.container > * {
	border: 1px solid #000;
	padding: 10px;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 0.8em;
	max-width: 1600px;
	margin: 0 auto;
}

.container > * {
	grid-column: 1 / span 12;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Tablet styles */
@media (min-width: 600px) {
	.links {
		grid-column: 1 / span 3;
		grid-row: 3
	}
	.ads {
		grid-column: 1 / span 3;
		grid-row: 4;
	}

	.content, .footer {
		grid-column: 4 / span 9;
	}

	nav ul {
		display: flex;
		justify-content: space-evenly;
	}
}

/* Desktop styles */
@media (min-width: 900px) {
	.links {
		grid-column: 1 / span 2;
	}
	.content {
		grid-column: 3 / span 7;
	}
	.ads {
		grid-column: 10 / span 3;
		grid-row: 3;
	}
	.footer {
		grid-column: 1 / span 12;
	}

}
