/* 
Keyword colors can be found at http://colours.neilorangepeel.com/
*/

/* border-box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
h1, h2 {
  text-transform: uppercase;
}

/* Add padding to all of the .container child elements */
.container > * {
  padding: 20px;
}
.container {
  color: white;
  font-family: helvetica, arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

header {
  background: skyblue;
  flex: 1 0 100%;
}
main {
  background: slategray;
  flex: 1 1 50%;
}
nav {
  background: cadetblue;
  flex: 1 0 25%;
}
aside {
  background: seagreen;
  flex: 1 0 25%;
}
footer {
  background: darkslateblue;
  flex: 1 0 100%;
}
