/* 
Keyword colors can be found at http://colours.neilorangepeel.com/
*/

/* border-box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
h1, h2 {
  text-transform: uppercase;
}

/* Add padding to all of the .container child elements */
.container > * {
  padding: 20px;
}
.container {
  color: white;
  font-family: helvetica, arial, sans-serif;
  max-width: 1200px;
}

header {
  background: skyblue;
}
main {
  background: slategray;
}
nav {
  background: cadetblue;
}
aside {
  background: seagreen;
}
footer {
  background: darkslateblue;
}

/* Style for tablet display */
@media  (min-width: 767px) {
  nav {
    width: 25%;
    float: left;
  }
  main {
    width: 75%;
    float: left;
  }
  aside {
    clear: both;

  }
}

/* Style for desktop display */
@media (min-width: 1023px) {
  main {
    width: 50%;
  }
  aside {
    clear: none;
    float: left;
    width: 25%;
  }
  footer {
    clear: both;
  }

}
