/* 
Keyword colors can be found at http://colours.neilorangepeel.com/
*/

/* border-box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}
h1, h2 {
  text-transform: uppercase;
}

/* Add padding to all of the .container child elements */
.container > * {
  padding: 20px;
}
.container {
  display: grid;
  grid-template-columns: repeat(12,minmax(0, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  font-family: helvetica, arial, sans-serif;
}

header {
  background: skyblue;
  grid-column: 1 / span 12;
}
main {
  background: slategray;
  grid-column: 4 / 10;
}
nav {
  background: cadetblue;
  grid-column: 1 / 4;
}
aside {
  background: seagreen;
  grid-column: 10 / 13;
}
footer {
  background: darkslateblue;
  grid-column: 1 / span 12;
}
