img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

#main {
  display: block;
  float: left;
}

#sidebar {
  display: block;
  float: left;
}

.row {
  clear: both;
}

.band-member {
  display: block;
  float: left;
}

.band-member img {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.band-member h3 {
  text-align: center;
}

/* Smartphone-size screens */
@media (max-width: 767px) {
  #main {
    width: 100%;
  }

  #sidebar {
    width: 100%;
  }

  .band-member {
    width: 100%;
  }

  .band-member img {
    display: none;
  }
}

/* Medium screens */
@media (min-width: 768px) {
  #main {
    width: 75%;
  }

  #sidebar {
    width: 25%;
  }

  .band-member {
    width: 50%;
  }

  .logo {
    width: 25%;
  }
}

/* Large screens */
@media (min-width: 1000px) {
  #main {
    width: 75%;
  }

  #sidebar {
    width: 25%;
  }

  .band-member {
    width: 25%;
  }
}
