@import 'variables';

:root {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.header-logo {
  display: flex;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.row {

}

.row.row-1 {
  display: flex;
  justify-content: center;

  .main {
    flex: 1 1 70%;
  }

  .sidebar {
    flex: 1 1 30%;
  }
}

@media (max-width: 767px) {
  .row.row-1 {
    display: block;
  }
}

.row.row-3 {
  display: flex;

  .band-member {
    flex: 1;

    &-image {
      width: 220px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }

    &-name {
      text-align: center;
    }
  }
}

.band-member-heading {
  text-align: center;
}

@media (max-width: 1023px) {
  .row.row-3  {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .row.row-3 {
    display: block;

    .band-member {
      &-name {
        text-align: left;
      }
      &-image {
        margin: unset;
      }
    }
  }
  .band-member-heading {
    text-align: left;
  }
}

.upcoming-show-heading {
  /* text-align: center; */
}


.band-member {
  display: block;
  padding: 0 0.5rem;

  &-name, &-heading {

  }

  &-image {
    width: 220px;

    img {
      width: 100%;
    }
  }
}


.footer {
  color: #eabd90;
  padding: 1rem;
}