@import 'variables';

:root {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.header-logo {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.main {
  display: block;
  float: left;
  width: 75%;
}

.sidebar {
  display: block;
  float: left;
  width: 25%;
}

.upcoming-show-heading {
  /* text-align: center; */
}

.row {
  clear: both;
}

.band-member {
  display: block;
  float: left;
  width: 25%;
  padding: 0 0.5rem;

  &-name, &-heading {
    text-align: center;
  }

  &-image {
    width: 220px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 1023px) {
  /* styles for tablet display */
  /* start with this width and adjust as necessary */
  /* viewport width can be no greater than 1024px for the style(s) to apply
   * If greater than this, style(s) won't apply
   */
  .band-member {
    float: left;
    width: 50%;
  }
}

@media (max-width: 767px) {
  /* styles for smartphone display */
  /* start with this width and adjust as necessary */
  /* viewport width can be no greater than 767px for the style(s) to apply
   * If greater than this, style(s) won't apply
   */
  .main {
    float: none;
    width: 100%;
  }
  .sidebar {
    float: none;
    width: 100%;
  }
  .band-member {
    float: none;
    width: 100%;
  }
}

