@import 'variables';

:root {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.header-logo {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.main {

}

.sidebar {

}

.upcoming-show-heading {
  /* text-align: center; */
}

.row {

}

.row.row-1 {
  grid-column: 1 / span 12;
}

.row.row-2 {
  grid-column: 1 / span 12;
}

.row.row-3 {
  grid-column: 1 / span 12;

}

.row.row-4 {
  grid-column: 1 / span 12;
}

.band-member {

  &-name, &-heading {
    // text-align: center;
  }

  &-image {
    width: 220px;
    // margin: 0 auto;

    img {
      width: 100%;
    }
  }
}

@media (min-width: 767px) {
  /* styles for tablet and desktop display */
  /* viewport width has to be at least min-width for styles to apply
   */
  .row.row-1 {
    display: flex;
    flex-wrap: nowrap;
  }

  .row.row2 {

  }

  .main {
    flex: 2;
  }
  .sidebar {
    flex: 1
  }

  .row.row-3 {
    display: flex;
    flex-wrap: wrap;
  }
  .band-member {
    flex: 1;
    padding: 0.5em;
  }
}

.footer {
 // grid-column: 1 / span 12;
  color: #eabd90;
  padding: 1rem;
}