html {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
header h1 {
	margin-top: 0;
	padding-top: 50px;
}
h1 span {
	font-size: .8em;
}
header {
	text-align: center;
}
.content, .links {
	padding: 0 10px;
	margin-top: 20px;
}
.links {
	background-color: #E9F9E1;
	border: 1px solid gray;
}

header {
	display: flex;
	justify-content: space-between;
}
.image1 {
	order: -1;
}
.image2 {
	order: 1;
}
.container {
	display: flex;
}
.links {
	min-width: 250px;
	order: 1;
}
@media (max-width: 500px) {
	header {
		flex-wrap: wrap;
	}
	h1 {
		order: -3;
	}
	.image1, .image2 {
		max-width: 48%;
	}
}
@media (max-width: 750px) {
	.container {
		flex-wrap: wrap;
	}
	.links {
		width: 100%;
	}
}