html {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
header h1 {
	margin-top: 0;
	padding-top: 50px;
}
h1 span {
	font-size: .8em;
}

header {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.links ul {
	list-style: none;
}

.image1 {

}

.image2 {
  order: 2
}

.container {
	display: flex;
}

@media (max-width: 768px) {
	header {
		display: block;
	}
	.container {
		display: block;
	}
	.links {
		text-align: center;
	}
}

.content {
	order: -1;
}
.content, .links {
	padding: 0 10px;
	margin-top: 20px;
}
.links {
	align-self: start;
	background-color: #E9F9E1;
	border: 1px solid gray;
	min-width: 300px;
}

