html {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
header h1 {
	margin-top: 0;
	padding-top: 50px;
}
h1 span {
	font-size: .8em;
}
header {
	text-align: center;
}
.content, .links {
	padding: 0 10px;
	margin-top: 20px;
}
.links {
	background-color: #E9F9E1;
	border: 1px solid gray;
}

header {
	width: 1000px;
}
.image1 {
	float: left;
}
.image2 {
	float: right;
}
.container {
	width: 1000px;
	clear: both;
}
.links {
	float: right;
	width: 300px;
}
.content {
	float: left;
	width: 670px;
}