* {
  box-sizing: border-box;
  font-size: 1.5rem;
}
html {
  background: #b3b3b3;
  padding: 5px;
}
body {
  background: #b3b3b3;
  padding: 5px;
  margin: 0;
}
.flex-container {
  background: white;
  padding: 10px;
  border: 5px solid black;
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items:center;
}
.item {
}

.item-1 {
  background: #ff7300;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}
.item-2 {
  background: #67ff90;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 250px;
  font-size: 1.8rem;
}
.item-3 {
  background: #ff4e5e;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  height: 250px;
}
.item-4 {
  background: #f5c096;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 300px;
  height: 300px;
}
.item-5 {
  background: #d3c0b1;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 350px;
  /* Default values */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  /* flex: 0 1 auto; */
}
.item-6 {
  background: #94a7d3;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 350px;
  /* Default values */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  /* flex: 0 1 auto; */
}