:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

@media (min-width: 50em) {
  :root {
    font-size: 1.125em;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* Style links */
a:link {
  color: #1476b8;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #1430b8;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #b81414;
}

/* Style header */
.page-header {
  padding: 0.4em 1em;
  background-color: #fff;
}


/* Tablet style */
@media (min-width: 35em) {
  .page-header {
    padding: 1em;
  }
}


/* Desktop style */
@media (min-width: 50em) {
  .page-header {
    padding: 1em 4em;
  }
}


.title > h1 {
  color: #333;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 0.2em 0;
}

@media (min-width: 35em) {
  .title > h1 {
    font-size: 1.5rem;
  }
}

.slogan {
  color: #888;
  font-size: 0.875em;
  margin: 0;
}

/* Style hero section */
.hero {
  padding: 2em 1em;
  text-align: center;
  color: #fff;
  background-image: url(../img/coffee-beans-small.jpg);
  background-size: 100%;
  text-shadow: 0.1em 0.1em 0.3em #000;
}

/* Tablet style */
@media (min-width: 35em) {
  .hero {
    padding: 5em;
    font-size: 1.2rem;
    background-image: url(../img/coffee-beans-medium.jpg);

  }
}


/* Desktop style */
@media (min-width: 50em) {
  .hero {
    padding: 7em 6em;
    background-image: url(../img/coffee-beans.jpg);
  }
}


main {
  padding: 1em;
}

/* Tablet style */
@media (min-width: 35em) {
  .main {
    padding: 2em 1em;
  }
}

/* Desktop style */
@media (min-width: 50em) {
  main {
    padding: 2em 4em;
  }
}


.subtitle {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 0.875rem;
  text-transform: uppercase;
}

/* Style main menu */
.menu {
  position: relative; /* establishes containing block */
}

.menu-toggle {
  position: absolute;
  top: -1.35em;
  right: 0.1em;
  border: 0;
  background-color: transparent;
  font-size: 3em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
}

.menu-toggle::after {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  display: block;
  content: "\2261";
  text-indent: 0;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
}

.menu.is-open .menu-dropdown {
  display: block;
}

/* Tablet styles for menu - make menu always visible */
@media (min-width: 35em) {
  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    display: block;
    position: static;
  }
}

.nav-menu {
  margin: 0;
  padding-left: 0;
  border: 1px solid #ccc;
  list-style: none;
  background-color: #000;
}

.nav-menu > li + li {
  border-top:1px solid #ccc;
}

.nav-menu > li > a {
  display: block;
  padding: 0.8em 1em;
  color: #fff;
  font-weight: normal;
}

/* Tablet styles for menu - make menu horizontal */
@media (min-width: 35em) {
  .nav-menu {
    display: flex;
    border: 0;
    padding: 0 1em;
  }

  .nav-menu > li {
    flex: 1;
  }

  .nav-menu > li + li {
    border: 0;
  }

  .nav-menu > li > a {
    padding: 0.3em;
    text-align: center;
  }
}


/* Desktop style */
@media (min-width: 50em) {
  .nav-menu {
    padding: 0 4em;
  }
}

@media (min-width: 35em) {
  .row {
    display: flex;
    margin-left: -.75em;
    margin-right: -.75em;
  }

  .column {
    flex: 1;
    margin-right: 0.75em;
    margin-left: 0.75em;
  }
}

/* Style table */
table {
  width: 100%;  /* make table fill viewport width */
}

.tbl {
  border:1px solid #000;
  border-collapse:collapse;
}

.tbl td, .tbl th {
  text-align: left;
  padding: 0.3em;
  background-color: #f7f7f7;
  border:1px solid #000;
}

/* Style table for small widths */
@media (max-width: 30em) {
  table, thead, tbody, tr, th, td {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin-bottom: 1em;
  }
}