:root {
  font-size: 1em;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

/* "lobotomized owl" selector */
body * + * {
  margin-top: 1.5em;
}

header {
  padding: 0.3em 1em;
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;

}

/* Use flexbox to make equal height panel/columns */
.container {
  display: flex;
}

main {
  display: block;
}

.top {
  width: 70%;
  padding: 0.5em 1em;
  background-color: #fff;
  border-radius: .5em;
}

.sidebar {
  width: 30%;
  margin-top: 0;
  margin-left: 1.5em;
  padding: 1.5em;
  background-color: #fff;
  border-radius: .5em;
}

.button-link {
  display: block;
  padding: 0.5em;
  color: #fff;
  background-color: #0090c9;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.sponsor-link {
  display: block;
  color: #0072b0;
  font-weight: bold;
  text-decoration: none;
}

/* This is .main in the text */
.middle {
  padding: 0.5em 1em;
  background-color: #fff;
  border-radius: 0.5em;
}

/* This will set two columns per "row" */
.media {
  float: left;
  margin: 0 1em 1em 0;
  width: calc(50% - 1em);
  padding: 0.5em 1em;
  background-color: #eee;
  border-radius: 0.5em;
}

.media:nth-child(even) {
  clear: left;
}

.media-image {
  float: left;
  margin-right: 1em;
}

.media-body {
  /* This causes a new Block formatting Context (BFC) */
  overflow: auto;
  margin-top: 0;
}

.media-body h4 {
  margin-top: 0;
}


.clearfix::after {
  display: block;
  content: " ";
  clear: both;
}

