:root {
  font-size: 1em;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

/* "lobotomized owl" selector */
body * + * {
  margin-top: 1.5em;
}

header {
  padding: 0.3em 1em;
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;

}

main {
  display: block;
}

[class*="column-"] {
  float: left;
  padding: 0 0.5em;
  margin-top: 0;
}

.column-1 { width: 8.3333%; }
.column-2 { width: 16.6667%; }
.column-3 { width: 25%; }
.column-4 { width: 33.3333%; }
.column-5 { width: 41.6667%; }
.column-6 { width: 50%; }
.column-7 { width: 58.3333%; }
.column-8 { width: 66.6667%; }
.column-9 { width: 75%; }
.column-10 { width: 83.3333%; }
.column-11 { width: 91.6667% }
.column-12 { width: 100%; }

/* clearfix */
.row:after {
  content: " ";
  display: block;
  clear: both;
}

.row {
  margin-left: -0.65em;
  margin-right: -0.65em;
}


.top {
  display: flex;
}

.top .left {
  background-color: #fff;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.top .right {
  background-color: #fff;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.button-link {
  display: block;
  padding: 0.5em;
  color: #fff;
  background-color: #0090c9;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.sponsor-link {
  display: block;
  color: #0072b0;
  font-weight: bold;
  text-decoration: none;
}

.middle {
  background-color: #fff;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}


.media {
  padding: 0.5em 1em;
  background-color: #eee;
  border-radius: 0.5em;
}

.media-image {
  float: left;
  margin-right: 1em;
}

.media-body {
  /* This causes a new Block formatting Context (BFC) */
  overflow: auto;
  margin-top: 0;
}

.media-body h4 {
  margin-top: 0;
}