body {
  font-family: 'Arvo', serif;
}
.height {
  min-height: 100vh;
}

.height-80 {
  min-height: 80vh;
}

.title-underline {
  width: 200px;
  height: 7px;
  margin: 0 auto;
}

.about-image {
  background: url(../assets/images/workers-with-their-laptops.jpg);
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#filler, #progress {
  background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../assets/images/office-buildings.jpg);
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#filler h1 {
  letter-spacing: 0.2rem;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: block;
}
