.testimonial {
  font-size: 1rem;
  margin: 2rem 0;
}

/* Styles for tablet and desktop */
@media (min-width: 42rem) {
  .testimonial {
    font-size: 1.2rem;
    margin: 3rem auto;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.testimonial:first-of-type {
  margin-top: 6rem;
}

.testimonial__image-container {
  display: block;
}

.testimonial__image {
  width: 100%;
}

/* Styles for tablet and desktop */
@media (min-width: 42rem) {
  .testimonial__image-container {
    width: 65%;
    max-width: 580px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  }

  .testimonial__image {
    width: 100%;
    vertical-align: top; /* remove whitespace due to box-shadow on container */
  }

}

.testimonial__info {
  display: block;
  padding: 0 1rem;
}

/* Styles for tablet and desktop */
@media (min-width: 42rem) {
  .testimonial__info {

    width: 30%;
  }
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
}


.testimonial__name {
  font-size: 1.5rem;
  color: #ff5454;
  margin-bottom: 0;
}

.testimonial__subtitle {
  font-size: 1.1rem;
  color: #ccc;
  margin:0 0 1rem 0;
}

/* Styles for tablet and desktop */
@media (min-width: 42rem) {
  .testimonial__name {
    font-size: 2rem;
    margin: 0.2rem;
    color: #ff5454;
  }

  .testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
  }
}


.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  margin: 0.2rem;
  font-variant: small-caps
}
  
  