#product-overview {
  background-image: linear-gradient(to top, rgba(80, 68, 18, 0.5) 10%, transparent), url("../images/freedom.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  background-color: #ff1b68;
  /* This causes overflow and horizontal scrolling of the entire page */
  /* width: 100vw; */
  height: 33vh;
  margin-top: 2.75rem;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 1.6rem;
}

@media (min-width: 40rem)  {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
    /* background-attachment: fixed; */
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

/* Style plans section */
/* Styles for mobile display */
.plan__list {
  text-align: center;
}

.plan {
  background-color: #d5ffdc;
  padding: 1rem;
}

/* Styles for desktop and tablet display */
@media (min-width: 42rem) {
  .plan {
    background-color: #d5ffdc;
    margin: 0.25rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 20rem;
  }

}

/* Style for mobile display */
.plan--highlighted {
  background-color: #19b84c;
  color:white;
  box-shadow: none;
}

/* Style for desktop and tablet display */
@media (min-width: 45rem) {
  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}


.plan__annotation {
  display: inline-block;
  background-color: white;
  color: #19b84c;
  padding: 0.4rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 46rem) {
  .plan__annotation {
    display: block;
    padding: 0.2rem;
  }
}


.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0
}

.plan__feature {
  margin: 0.5rem 0;
}

/* Style key-features section */
#key-features {
  background-color: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 1.5rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Styles for mobile version */
.key-feature {
  display: block;
}

.key-feature__image {
  display: inline-block;
  height: 8rem;
  width: 8rem;
  background-color: #ffcede;
  border-radius: 50%;
  border: 1px solid black;

}

@media (min-width: 42rem) {
  .key-feature {
    display: inline-block;
    width: 30%;
    max-width: 20rem;
    vertical-align: top;
  }

  .key-feature__image {
    display: inline-block;
    height: 8rem;
    width: 8rem;
    background-color: #ffcede;
    border-radius: 50%;
    border: 1px solid black;

  }
}

.key-feature__image .fa-users  {
  color: #19b84c;
  font-size: 4rem;
  position: relative;
  top: 20%;
}

.key-feature__image .fa-server  {
  color: gray;
  font-size: 4rem;
  position: relative;
  top: 20%;
}

.key-feature__image .fa-stream  {
  color: #50BDEC;
  font-size: 4rem;
  position: relative;
  top: 20%;
}

.key-feature__description {
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  width: 75%;
  top: 20%;
  left: 12.75%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

/* Button styling */
.button {
  background-color: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover, .button:active {
  color: #0e4f1f;
  background-color: white;
}

.button:focus {
  outline: none;
}