/* Custom font only used on packages page */
/* Use @font-face rule to grab font from our website server
 * rather than a third-party server or CDN
*/
@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/AnonymousPro-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/AnonymousPro-Bold.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/AnonymousPro-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/AnonymousPro-Italic.ttf') format("truetype");
  font-style: italic;
}

main {
  padding-top: 2rem;
}


@media (min-width: 42rem)  {
  main {
    margin: 3rem auto;
    max-width: 1200px;
  }
}


.background {
  background-image: url(../images/plans-background.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
}

.package {
  width: 80%;
  margin: 1rem 0;
  border: 4px solid #0e4f1f;
  border-left: none;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1200px)  {
  .package {
    border-left: 4px solid #0e4f1f;
  }
}


.package:hover, .package:active {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  border-color: #ff5454;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;

}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: #ff5454;
  font-size: 0.75rem;
  padding: 0.5rem;
  margin: 0;
  transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
  transform-origin: center;
  width: 12rem;
  text-align: center
}

.package__title {
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: normal;
}

.package__subtitle {
  color: #979797;
}

.clearfix {
  clear: both;
}

.package__info {
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  border: 1px solid #0e4f1f;
  font-size: 1.2rem;
  color: #0e4f1f;
  background-color: white;
}

#plus {
  background-color: rgba(213, 255, 220, 0.95);
  margin-top: 3rem;
}

#free {
  background-color: rgba(234, 252, 237, 0.95);
  float: right;
  border-right: none;
  border-left: 4px solid #0e4f1f;
  text-align: right;
}

@media (min-width: 1200px)  {
  #free {
    border-right: 4px solid #0e4f1f;
  }
}

#free:hover, #free:active {
  border-color:  #ff5454;
}

#premium {
  background-color: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

