/* Import some google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700i&display=swap|Anton|Montserrat:400,700"');

/* Set default font size to 100% of browser default */
/* This rule is optional and ok to let browser default of 16px stand */
:root {
  font-size: 100%;
}

/* Best practice is to set box-sizing to border-box for all elements */
* {
  box-sizing: border-box;
}

html {

}

/* Set global font family */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: grid;
}

.backdrop  {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;  /* 100% also works */
  height: 100vh;  /* 100% also works */
  display: none;
  background-color: rgba(0,0,0,0.5);
}

/* Styles for mobile display */
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  top: 3%;
  right: 3%;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 80%;
  height: 0.15rem;
  background: black;
  display: block;
  margin: 0.4rem 0;
}

/* Styles for tablet display */
@media (min-width: 42em) {
  .toggle-button {
    display: none;
  }
}

/* Main header styling */
/* Styles for mobile display */
.main-header {
  background-color: #2ddf5c;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-header > div {
  position: relative;
}

.main-header__brand {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
}

.main-header__brand img {
  position: absolute;
  top: 3%;
  left: 3%;
  height: 2.5rem;
}

/* Style for mobile display */
.main-nav {
  display: none;
}

/* Styles for desktop and tablet display */
@media (min-width: 42em) {

  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }
  .main-header__brand img {
    position: static;
  }

  .main-nav {
    display: flex;
  }
}

.main-nav__items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 1px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #ff1b68;
  background-color: white;
  border: none;
}

/* Main footer styling */
.main-footer {
  background-color: black;
  padding: 6rem 0;
  position: relative;
}

.main-footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.main-footer__link {
  margin: 0.5rem 0;
}

/* Styles for desktop and tablet */
@media (min-width: 42rem) {
  .main-footer__links {
    flex-direction: row;
    justify-content: center;
  }
  .main-footer__link {
    margin: 0 1rem;
  }
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}


.main-footer__link--scroll-to-top {
  font-size: 2rem;
  font-weight: 100;
  position: absolute;
  top: 35%;
  right: 10%;
  padding: 0.5rem;
}

@media (min-width: 42rem) {
  .main-footer__link--scroll-to-top {
    top: 35%;
  }
}

.main-footer__link--scroll-to-top a {
  text-decoration: none;
  color: white;
}

/* Mobile navigation */
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 100vw;
  height: 100vh;
}

.mobile-nav__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.mobile-nav__close-button {
  position: absolute;
  top: 2%;
  left: 4%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 100;
}

