.signup-page {
  margin-top: 6rem;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff5454;
}

.signup-form {
  padding: 1rem;
  display: grid;
}

@media (min-width: 42rem) {
  .signup-form {
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: 10rem auto;
  }
  .signup-form__checkbox {
    grid-column: 1 / span 2;
  }

  .signup-form select {
    grid-column: span 2;
  }
}

.signup-form label {
  font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
  display: block;
  margin-top: 1rem;
  width: 100%
}

.signup-form input:not([type='checkbox']),
.signup-form select {
  border: 1px solid #ccc;
  background-color: #fafafa;
  padding: 0.2rem 0.5rem;
  font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  background-color: #d8f3df;
  border-color: #2ddf5c
}


.signup-form input[type='checkbox'],
.signup-form label[for='agree-terms'] {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}


/* Customize the look of the checkbox */
.signup-form input[type='checkbox'] {
  border: 1px solid #ccc;
  background-color: white;
  width: 1rem;
  height: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Customize the look of the checkbox when checked */
.signup-form input[type='checkbox']:checked {
  background-color: #2ddf5c;
  border-color: #0e4f1f;
}

.signup-form label[for='agree-terms'] {
  font-size: 0.8rem;
  font-weight: normal;
  color: gray;
}

.signup-form label[for='agree-terms'] a {
  color: gray;
}

.signup-form button {
  display: block;
  margin-top: 1rem;
  color: white;
  font: inherit;
  font-weight: bold;
  background-color: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  outline: none;
}