.signup-page {
  width: 95%;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 42rem) {
  .signup-page {
    width: 50%;
  }
}

.signup-form {
  padding: 1rem;
}

.signup-form > div {
  margin: 0 0 1rem 0;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff5454;
}


.signup-form__title {

}

.signup-form__title select {
  font-size: 1rem;
  font-weight: 100;
  outline: none;
}

.signup-form__name {
  display: inline-block;
  width: 45%;
}

.signup-form input {
  padding: 0.75rem;
  background-color: #fafafa;
  border: 1px solid #ccc;
  outline: none;

}

.signup-form__name input {

}

.signup-form__name input, .signup-form__name label {
  width: 100%;
}

.signup-form__name-title {
  margin-bottom: 0;

}

.signup-form__name label {
  font-size: 0.8rem;
}

.signup-form__email-wrapper input,
.signup-form__passwd-wrapper input {
  width: 100%;
}

@media (min-width: 42rem) {
  .signup-form__email-wrapper input,
  .signup-form__passwd-wrapper input {
    width: 91%;
  }
}

.signup-form input, .signup-form label {
  display: block;
  margin: 0.3rem 0;
}


.signup-form__terms-wrapper input, .signup-form__terms-wrapper label {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.2rem;
}

.signup-form__terms-wrapper label {
  color: gray;
  font-size: 0.8rem;
}

.signup-form__terms-wrapper label a {
  text-decoration: none;
  color: gray;
}

.signup-form__button-wrapper button {
  color: white;
  background-color: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  outline: none;
}
