// Global styles
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
body {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
a {
  color: #333 !important;
  transition: all .25s;
}
.btn:focus {
  box-shadow: none !important;
}
// .container-fluid {
//   padding: 0;
//   > .row {
//     margin-right: 0;
//     margin-left: 0;
//     > [class*="col-"],
//     > .col {
//       padding-right: 0;
//       padding-left: 0;
//     }
//   }
// }

// Header styles

header {
  position: relative;
  background: url("../img/condo-pool.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  &:after {
    content: "";
    background: rgba(#000, .25);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
  }
}
// bootstrap navbar override

.navbar-brand {
  font-weight: 700;
  font-size: em(28);
  color: white !important;
  z-index: 3;
}

.navbar {
  z-index: 10;
}

.navbar-nav {
  z-index: 3;
}

.navbar-nav .nav-link {
  font-weight: 700;
  color: white !important;
  text-transform: uppercase;
  transition: all 0.25s;
  font-size: em(13);

  &:hover {
    color: #f4f4f4 !important;
  }
}

.header-title {
  position: relative;
  padding: {
    top: em(200) - em(68);
    bottom: em(200);
  }
  color: white;
  text-align: center;
  z-index: 3;

  // modifier for blog page
  &--blog-page {
    text-align: left;
  }

  &__h1 {
    // font-size: em(75);
    @include font-size(4.6rem);
    font-weight: 700;
    margin-bottom: 0;
  }

  &__p {
    font-size: em(26);
  }

  &__meta {
    span {
      font-size: em(20);
    }

    &__author {
      a {
        color: white !important;
      }
    }
  }
}

// Blog page styles
.blog-single {
  margin: em(70) 0;
  &__h1 {
    font-size: em(40);
    font-weight: 900;
    margin-bottom: em(16);
    line-height: 1.5;
  }
  &__p {
    font-size: em(20);
    font-weight: 300;
    line-height: 2;
    margin-bottom: 20px;
  }
}

// Blog archive styles
.blog-archive {
  margin: em(70) 0;
  &__item {
    margin-top: em(40);
    border-bottom: solid 2px #eee;
    &__h2 {
      // font-size: em(40);
      @include font-size(2.5rem);
      font-weight: 900;
    }
    &__p {
      @include font-size(1.5rem);
      font-weight: 300;
    }
    &__meta {
      margin-bottom: em(40);
      &__author-label {
        color: gray;
      }
    }
  }
}

// Contact page styles
.contact {
  margin: em(50);
  &__h2 {
    font-weight: 900;
    color: #333;
  }
  .form-control {
    border-radius: 0;
  }
  .btn {
    border-radius: 0;
  }
}



// Footer styles
footer {
  background-color: #333;
  padding: em(20);
}
.footer {
  &__title {
    color: white;
    font-weight: 900;
  }
  &__p {
    color: white;
  }
}
