:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #709b90;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 1em;
}

body * + * {
  margin-top: 1.5em;
}

.container {
  /*
  max-width: 1080px;
  margin: 0 auto;
  */
}

/* Style navigation bar */
.site-nav {
  display: flex;
  padding: 0.5em;
  list-style: none;
  background-color: #5f4b44;
}

.site-nav > li {
  margin-top: 0;
}

.site-nav > li + li {
  margin-left: 1.5em;
}

.site-nav > li > a {
  display: block;
  padding: 0.5em 1em;
  background-color: #cc6b5a;
  color: white;
  text-decoration: none;
}

.site-nav > .nav-right {
  margin-left: auto;
}

/* Style main area and sidbar */
.tile {
  padding: 1em;
  background-color: #fff;
}

.flex {
  display: flex;
  margin-bottom: 1.5em;
}

.flex > * + * {
  margin-top: 0;
  margin-left: 1.5em;
}

.column-main {
  flex: 2;
  border-radius: 0.5em;
}

/* "Nested flexbox */
.column-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.column-sidebar > .tile {
  flex: 1;
  border-radius: 0.5em;
}

/* Style login form */
.login-form h3 {
  margin: 0;
  font-size: .9em;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

.login-form input:not([type=checkbox]):not([type=radio]) {
  display: block;
  width: 100%;
  margin-top: 0;
}

.login-form button {
  margin-top: 1em;
  border: 1px solid #cc6b5a;
  background-color: white;
  padding: .5em 1em;
  cursor: pointer;
}

/* Style Call to Action (CTA) button */
.centered {
  text-align: center;
}

.cost {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: .7;
}

.cost > span {
  margin-top: 0;
}

.cost-currency {
  font-size: 2rem;
}
.cost-dollars {
  font-size: 4rem;
}

.cost-cents {
  font-size: 1.5rem;
  align-self: flex-start;
}

.cta-button {
  display: block;
  background-color: #cc6b5a;
  color: white;
  padding: .5em 1em;
  text-decoration: none;
}